body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    display: flex;
    padding: 0 auto;
    padding: 15px;
    padding-bottom: 10px;
    align-items: center;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
p {
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
h2, h3, h4 {
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
}
span {
    margin-right: 5px;
    display:flex;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
