@mixin flexDisplay($align-items, $justify-content) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin buttonparam($text-align, $width, $height, $margin) {
  width: $width;
  height: $height;
  background-color: $background;
}
