.article {
    display: flex;
    justify-content: center;
    &__wrapper {
        width: 50%;
        img {
            width: 100%;
            height: 400px;
        }
        div {
            margin: 5px 0;
            h1 {
                font-size: 48px!important;
                line-height: 62px!important;
                color: #333;
                font-weight: 700;
                margin-bottom: 10px;
            }
            p{margin: 10px 0;}
            p:first-of-type {
                font-size: 13px;
                font-weight: 400;
                color: #262626;
                display: flex;
                width: 96px;
                height: 25px;
                align-items: center;
                justify-content: center;
                border: 1px solid black;
                background-color: white;
                
            }
            h2 {
                color: #333;
                font-weight: bold;
                font-size: 24px!important;
                line-height: 32px!important;
                margin-top: 16px;
            }
        }
    }
}