.button {
    &-header {
        background-color: white;
        border: 1px solid blue;

        height: 38px;
        p{
            padding: 10px;
            color: rgb(0, 50, 130)
        }
    }
}

.another {
    background-color: transparent;
    border: 1px solid white;
    p {
        color: white;
    }
}