.button {
  &-search {
    background-color: $c-lochmara;
    color: $c-white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 100%;
    height: $space-x-large;
    font-size: pxToRem(20);
  }
  &-header {
    background-color: $c-white;
    border: 1px solid blue;
    height: 38px;
    margin: $space-xsx-small;
    p {
      font-weight: 500;
      padding: $space-x-small;
      color: $c-resolutionBlue;
    }
  }
  &-icons {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    &:hover {
      cursor: pointer;
    }
    img {
      width: $space-x-standard;
      height: $space-x-standard;
      border-radius: $space-x-large;
    }
  }
  &-price {
    margin-top: 90px;
    width: 125px;
    height: $space-large;
    background-color: $c-lochmara;
    border: none;
    border-radius: 2px;
    color: $c-white;
    font-size: pxToRem(16);
    font-weight: 700;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
      Arial, sans-serif;
  }
  &-footer {
    height: 48px;
    width: 30%;
    background-color: $c-lochmara;
    color: $c-white;
    font-size: pxToRem(20);
    font-weight: 300;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
      Arial, sans-serif;
    line-height: 24px;
    border: none;
    border-radius: 2px;
  }
  &-avaiable {
    background-color: $c-lochmara;
    color: $c-white;
    width: 170px;
    height: 35px;
    margin-bottom: $space-xsx-small;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
      Arial, sans-serif;
  }

  &-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $space-large;
    height: $space-large;
    background: $c-lochmara;
    border-radius: $space-xsx-small 0 0 $space-xsx-small;
    color: $c-white;
    cursor: pointer;
    text-align: center;
    font-size: pxToRem(20);
    line-height: 16px;
    outline: none;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
  &-article {
    position: absolute;
    top: 7px;
    right: $space-small;
  }
  &-input {
    height: 100%;
    width: 100%;
  }
  &-choose {
    width: $space-x-standard;
    height: $space-x-standard;
    background-color: transparent;
    border: none;
    outline: $c-resolutionBlue;
    font-size: pxToRem(20);
  }
}

.another {
  background-color: transparent;
  border: 1px solid $c-white;
  p {
    color: $c-white;
  }
}

.share {
  height: 29px;
  border-radius: 3px;
  p {
    margin: 0;
    padding: 0 $space-small;
    font-size: pxToRem(13);
    font-weight: 400;
  }
  &:hover {
    background-color: $c-azure;
    cursor: pointer;
  }
}
