.footer {
  margin-top: 25px;
  width: 100%;
  height: 254px;
  background-color: $c-prussianBlue;
  color: $c-white;
  display: flex;
  justify-content: center;
  align-items: center;
  &__contact {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: pxToRem(24px);
      font-weight: 300;
    }
    p {
      color: $c-silver;
    }
  }
  &__text {
    width: 72%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 25px;
    margin-bottom: $space-x-small;
    flex-wrap: wrap;
  }
}

.input-text {
  width: 68%;
  height: 48px;
  border-radius: 2px;
  border: none;
  margin-right: $space-xsx-small;
  font-size: pxToRem($space-standard);
  padding: $space-xsx-small;
  font-weight: 300;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
}

.input-checkbox {
  margin-top: $space-x-small;
}

.sharing {
  width: 100%;
  background-color: $c-resolutionBlue;
  &__share {
    border-bottom: 1px solid $c-tropicalBlue;
    height: $space-xs-large;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__options {
    display: flex;
    justify-content: center;
    height: 80px;
  }
  &__links {
    display: flex;
    flex-wrap: wrap;
    p {
      text-decoration: underline;
      padding: $space-x-small$space-x-small;
      font-size: pxToRem(13px);
      color: $c-white;
      font-weight: 700;
      cursor: pointer;
      display: inline-block;
    }
  }
}
