.header {
  width: 100%;
  background-color: $c-resolutionBlue;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  &__button {
    width: $space-x-large;
    height: $space-x-large;
    display: flex;
    justify-content: center;

    p {
      color: $c-white;
      font-family: "Kanit", sans-serif;
      font-size: 16px;
      font-weight: 900;
    }
  }
  &__navigation {
    width: 1500px;
    height: 100%;
    &-header {
      width: 75%;
      height: 50%;
      display: flex;
      align-items: center;
      margin: 0 auto;
    }
    &-footer {
      height: 50%;
      width: 75%;
      margin: 0 auto;
      ul {
        display: flex;
        list-style-type: none;
        height: 100%;
        align-items: flex-end;
        li {
          display: flex;
          align-items: center;
          height: 54px;
          border-bottom: 3px solid transparent;
          box-sizing: border-box;
          &:hover {
            background-color: rgba(0, 113, 194, 0.3);
          }
          &.click {
            border-bottom: 3px solid $c-white;
          }
          p {
            color: $c-white;
            font-size: pxToRem(14);
            font-weight: 500;
            line-height: $space-standard;
            font-family: "Kanit", sans-serif;
          }
        }
      }
    }
  }
  &__title {
    width: 40%;
    display: flex;
    align-items: center;
  }
  &__options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 80%;
  }
  &__list {
    font-size: pxToRem(25);
    color: $c-white;
  }
}

.test {
  width: 100px;
  height: 100px;
  background-color: $c-resolutionBlue;
}
