.hotels {
    padding-top: 50px;
    width: 90%;
    display: flex;
    justify-content: center;
    &__wrapper {
        width: 60%;
        padding-left: 25px;
    }
    &__container {
        width: 100%;
        a {
            padding: 0;
        }
    }
    &__options {
        width: 17%;
    }
    &__window {
        border: 1px solid black;
        border-radius: 2px;
        width: 100%;
        display: flex;
        margin: 25px 0;
        
    }
    
}

.window {

    &__image {
        width: 225px;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 15px 0;
        
        &-postcard {
        margin-left: 15px;
        width: 200px;
        height: 200px;
        }

        a {
            padding: 0;
        }
    }
    &__description {
        padding: 25px 10px;
        width: 50%;
        
        p{
            font-size: 14px;
        }
        div {
            display: flex;
            padding: 5px 0;
        }
    }
    &__show {
        display: flex;
        width: 33%;
        height: 100%;
        align-items: flex-end;
        padding-right: 20px;
        flex-direction: column;
        p{
            padding: 40px;
        }
    }
}

.options {
    &__header {
        border: 1px solid #bdbdbd;
        width: 100%;
        h3 {
            padding: 5px;
            font-size: 15px;    
        }
    }
    &__box {
        border: 1px solid #bdbdbd;
        border-top: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h4 {
            padding: 5px;
            padding-left: 10px;
            padding-bottom: 0;
            font-size: 14px;
        }
        label {
        padding: 5px;
        padding-top: 0;
        display: flex;
        p{
            width: 80%;
            font-size: 12px;
            padding-top: 7px;
            padding-bottom: 10px;
            font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
        }
        
    }
    }
}

.checkbox {
position: relative;
  background: white;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  font-size: 14px;
  margin: 5px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #bdbdbd;
}
.checkbox:after {
    position: absolute;
    top: 5%;
    display: block;
    line-height: 32px;
    background: #fff;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.3s ease-in 0s;
    color: black;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
  }
.image {
    &-postcard {
        border-radius: 2px;
    }
}
.selects {
    width: 100%;
    display: flex;
    margin: 25px 0;
    &__element {
        background-color: white;
        height: 35px;
        justify-content: center;
        display: flex;
        align-items: center;
        border: 0.5px solid #0071c2;
        border-left: none;
    &:hover {
        cursor: pointer;
    }
    &:first-of-type {
        width: 25%;
        background-color: #0071c2;
        color: white;
    }
    &:nth-child(2){
        width: 30%;
        color: #0071c2
    }
    &:last-child{
        width: 45%;
        color: #0071c2
    }
    }
}