.hotel {
  width: 100%;
  &__header {
    margin-top: $space-x-small;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__info {
    display: flex;
    align-items: center;
    width: 50%;
  }
  &__social {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
  }
  &__adress {
    display: flex;
    align-items: center;
  }
}

.photos {
  margin-bottom: $space-x-standard;
  &__big {
    display: flex;
    flex-direction: column;
    height: 360px;
    flex-wrap: wrap;
  }
  &__small {
    display: flex;
  }
}

.icons {
  display: flex;
  &__element {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: pxToRem($space-x-standard);
    text-align: center;
    p {
      margin-top: $space-x-small;
      font-size: pxToRem(14px);
      color: $c-dustyGray;
    }
  }
}

.description {
  display: flex;
  &__column {
    width: 64%;
    h4 {
      margin: $space-xsx-small 0;
    }
  }
  &__info {
    width: 36%;
  }

  &__facilities {
    ul {
      list-style-type: none;
      display: flex;
      font-size: pxToRem($space-standard);
      width: 100%;
      flex-wrap: wrap;
      li {
        display: flex;
        align-items: center;
        margin-right: 8px;
        color: $c-japaneseLaurel;
        p {
          font-size: pxToRem(14px);
          margin-left: 2px;
          color: $c-black;
        }
      }
    }
  }
  p {
    margin: $space-x-small 0;
    font-size: pxToRem(14px);
  }
}

.information {
  width: 100%;

  &__footer {
    float: right;
  }

  &__booking {
    border: 1px solid $c-japaneseLaurel;
    background-color: $c-feta;
    display: flex;
    padding: 16px;
    margin-bottom: $space-small;

    div:nth-of-type(1) {
      color: $c-japaneseLaurel;
      display: flex;
      font-size: pxToRem($space-x-standard);
      justify-content: center;
      margin-right: 16px;
    }
    div:nth-of-type(2) {
      color: $c-black;
      p {
        margin-top: $space-x-small;
        font-size: pxToRem(14px);
      }
    }
  }
  &__covid {
    background-color: $c-peachCream;
    border: 1px solid $c-flushOrange;
    display: flex;
    padding: 16px;
    div:nth-of-type(1) {
      color: $c-flushOrange;
      display: flex;
      font-size: pxToRem($space-x-standard);
      justify-content: center;
      margin-right: 16px;
    }
    div:nth-of-type(2) {
      color: $c-black;
      p {
        font-size: pxToRem(14px);
      }
    }
  }
  &__availability {
    padding: $space-x-small 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
      align-items: center;
    }
    p {
      padding-left: 2px;
      font-size: pxToRem(14px);
    }
  }
  &__date {
    background-color: $c-salomie;
    border-top: 1px solid $c-pirateGold;
    border-bottom: 1px solid $c-pirateGold;
    h4 {
      padding: $space-x-small;
    }
  }
}

.date-wrapper {
  display: flex;
}
.date-input {
  width: 200px;
  height: $space-large;
  background-color: $c-white;
}

.date-calendar {
  position: absolute;
  left: $space-x-small;
  top: 61px;
}

.to {
  left: 359px;
}
