.image {
    &-postcard {
      border-radius: 2px;
    }
  }

.gallery {
    &-small {
        width: 273px;
        height: 170px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    &-big {
        width: 506px;
        height: 350px;
        margin-bottom: 10px;
    }
    &-others {
        flex-basis: 160px;
        height: 110px;
        margin-right: 10px;
        &:last-of-type{
            margin-right: 0;
        }
    }
    
}

.middleimg {
    flex-grow: 1;
    flex-shrink: 2;
}
.notmiddle {
    flex-grow: 2;
    flex-shrink: 1;
}