.choose {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid $c-black;
  background-color: $c-white;
  justify-content: flex-start;
  padding: $space-x-large;
  z-index: 1;
  width: 80%;
  &__header {
    padding-bottom: $space-x-standard;
    display: flex;
    justify-content: space-between;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    p {
      padding: 0;
    }
  }
}
.react-date-picker__wrapper {
  width: 100%;
}

.react-date-picker {
  &__wrapper {
    display: flex;
    height: 100%;
    background-color: $c-white;
    border: none;
  }
  .react-date-picker__inputGroup {
    display: flex;
    height: 100%;
    align-items: center;
    background-color: $c-white;
  }
}
.languages {
  width: 206px;
  height: $space-x-large;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: $space-x-small;
  background-color: transparent;
  &:hover {
    background-color: $c-alto;
  }
  img {
    border-radius: $space-x-large;
    width: $space-x-standard;
    margin: $space-xsx-small;
    border: 0.5px solid $c-gray;
  }
}

.image-postcard {
  width: 100%;
  height: 100%;
}

.background-op {
  opacity: 0.4;
}

.rating {
  display: flex;
  justify-content: center;
  height: $space-large;
  width: $space-large;
  margin: 0;
  div {
    font-size: pxToRem(18);
    font-weight: 700;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
      Arial, sans-serif;
    display: flex;
    align-items: center;
    background-color: $c-resolutionBlue;
    width: $space-large;
    height: 100%;
    color: $c-white;
    border-radius: 5.8181818182px 5.8181818182px 5.8181818182px 0;
    justify-content: center;
  }
  &-opinions {
    display: flex;
    justify-content: center;
    height: 32px;
    width: 32px;
    margin-right: $space-xsx-small;
    div {
      font-size: pxToRem(15);
      font-weight: 500;
      font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
        Helvetica, Arial, sans-serif;
      display: flex;
      align-items: center;
      background-color: $c-resolutionBlue;
      width: $space-large;
      height: 100%;
      color: $c-white;
      border-radius: 5.8181818182px 5.8181818182px 5.8181818182px 0;
      justify-content: center;
    }
  }
}

.point {
  content: "\00b7";
  display: flex;
  align-items: center;
  line-height: 0;
  position: relative;
  color: $c-doveGray;
  font-size: pxToRem(23);
  font-weight: 400;
  line-height: 18px;
  padding: 0 2px;
  &::before {
    content: "\00b7";
    line-height: 0;
    position: relative;
  }
}

.number {
  display: flex;
  margin-right: $space-xsx-small;
  color: $c-doveGray;
  font-weight: 500;
  align-items: center;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}
div.rec.rec-carousel {
  position: relative;
  left: -10px;
}

button.rec-dot {
  visibility: hidden;
}
div.rec.rec-item-wrapper {
  height: 225px;
}
div.rec.rec-carousel-wrapper {
  height: 300px;
  display: flex;
  justify-content: center;
}

button.rec.rec-arrow {
  width: 35px;
  height: 35px;
  min-width: 35px;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $c-white;
  transition: none;
  position: absolute;
  &:hover {
    background-color: $c-white;
    color: $c-black;
  }
  &:focus {
    background-color: $c-white;
    color: $c-black;
  }
}

button.rec.rec-arrow-left {
  left: -7px;
  z-index: 1;
}

button.rec.rec-arrow-right {
  right: 3px;
}

.additional {
  width: 35%;
  border-radius: 4px;
  background-color: $c-mercury;
  margin-top: -10px;
  color: $c-gray;
  font-size: pxToRem(11);
  $c-white-space: nowrap;
}
