.rules {
    margin-top: 25px;
    
    &__header {
        p {
            color: #6b6b6b;
            font-size: 13px;
            font-weight: 700;
            margin: 10px 0;
        }
    }
    &__section {
        display: inline-block;
        background-color: #ebf3ff;
    }
}

.check {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    &__title {
        width: 20%;
    }
}