.rules {
  margin-top: $space-x-standard;
  &__wrapper {
    padding: 35px $space-small;
    p {
      font-size: pxToRem(14);
    }
  }
  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    p {
      color: $c-doveGray;
      font-size: pxToRem(13);
      font-weight: 700;
      margin: $space-x-small 0;
    }
  }
  &__section {
    display: inline-block;
    background-color: $c-zumthor;
  }
}

.check {
  padding: $space-small 0;
  display: flex;
  flex-wrap: wrap;
  p {
    font-size: pxToRem(14);
  }
  &__title {
    width: 20%;
    height: $space-x-large;
    display: flex;
    p {
      margin: 0;
    }
  }
  &__chart {
    width: 75%;
    position: relative;
  }
  &__hour {
    width: 300px;
    background-color: $c-gray;
    border-radius: $space-xsx-small;
    height: $space-small;
    &-hour {
      background-color: $c-japaneseLaurel;
      width: 50%;
      height: 100%;
      border-top-left-radius: $space-xsx-small;
      border-bottom-left-radius: $space-xsx-small;
    }
  }
  &__info {
    padding-top: $space-medium;
    padding-left: 150px;
    font-size: pxToRem(14);
    color: $c-doveGray;
  }
  &__icon {
    font-size: $space-standard;
    margin-right: $space-xsx-small;
  }

  &__text {
    width: 70%;
    text-align: justify;
    div {
      margin-bottom: $space-standard;
    }
    &-title {
      font-size: pxToRem(14);
      margin-bottom: $space-standard;
      margin-top: 0;
      font-weight: 600;
    }
    &-text {
      p {
        margin: $space-x-small 0;
        font-size: pxToRem(14);
      }
    }

    img {
      border-radius: $space-xsx-small;
      margin-right: $space-xsx-small;
      width: 60px;
    }
  }
}

.bubble {
  position: relative;
  left: 1$space-small;
  top: $space-xsx-small;
  width: $space-xsx-large;
  height: 28px;
  padding: 0px;
  background: $c-white;
  border-radius: 2px;
  border: 1px solid $c-gunsmoke;
}
.bubble:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 8px 6px;
  border-color: $c-white transparent;
  display: block;
  width: 0;
  z-index: 1;
  margin-left: -8px;
  top: -6px;
  left: 50%;
}

.bubble:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 8px 6px;
  border-color: $c-gunsmoke transparent;
  display: block;
  width: 0;
  z-index: 0;
  margin-left: -8px;
  top: -7px;
  left: 50%;
}

.checkinout {
  position: absolute;
  font-size: pxToRem(13);
  top: -20px;
}

.imp {
  padding: $space-small $space-small;
  p {
    margin: $space-xsx-small 0;
  }
}
