.inputs {
  width: 100%;
  height: 250px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  &__wrapper {
    width: $grid-lg;
    text-align: start;
    padding: $space-x-large 0;
  }
  &__inputs {
    width: 100%;
    display: flex;
    padding: $space-medium 0;
  }
  &__element {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 52px;
    width: 300px;
    font-size: pxToRem($space-standard);
    border: 4px solid $c-selectiveYellow;
    box-sizing: content-box;
    background: $c-white;
    color: $c-silverChalice;
    input {
      width: 90%;
      height: 100%;
      outline: none;
      border: none;
      background: $c-white;
    }
  }
  &__button {
    background-color: $c-lochmara;
    color: $c-white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: pxToRem($space-standard);
    padding: $space-xsx-small;
  }
}

.test {
  width: 90px;
  background-color: $c-lochmara;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.test2,
.test3 {
  border-right: none;
  width: 327px;
}
.test3 {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
