.slider {
  width: $grid-lg;
  margin: 0 auto;
  padding-top: $space-x-standard;
  &__wrapper {
    width: 200px;
    height: 180px;
  }
  &__photo {
    &-category {
      width: 200px;
      height: 180px;
    }
    &-poland {
      width: 200px;
      height: 200px;
    }
  }
  h2 {
    margin-bottom: $space-x-small;
  }
  p:first-of-type {
    margin-top: $space-x-small;
    font-size: pxToRem(16px);
    font-weight: 700;
  }
  p:last-of-type {
    font-size: pxToRem(14px);
    font-weight: 400;
    line-height: $space-standard;
    color: $c-doveGray;
  }
}
div.rec.rec-carousel-wrapper {
  height: 270px;
}
div.rec.rec-item-wrapper {
  height: 250px;
}
div.rec.rec-slider-container {
  margin: 0;
}
button.rec.rec-arrow-right {
  right: -3px;
}
